<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['books']" routerLinkActive="active">Books </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['cars']" routerLinkActive="active">Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['usuario']" routerLinkActive="active">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['smart']" routerLinkActive="active">Smart Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['olimpics']" routerLinkActive="active">Angular Material</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['primeng']" routerLinkActive="active">PRIMENG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['stepper']" routerLinkActive="active">STEPPER</a>
            </li>
        </ul>
    </div>
</nav>